####################################
#
# cross compiler selection
# if needed
#
####################################
# CROSS_COMPILE	= arm-linux-
# CROSS_COMPILE	= sh-linux-

####################################
#
# platform selection
#
####################################
PLATFORM	= Linux
# PLATFORM	= Windows

####################################
#
# architecture
#
####################################
ARCH	= sh

####################################
#
# verbose make
#
####################################
# VERBOSE	= 1

####################################
#
# debug make
#
####################################
# DEBUG	= 1
