###########################################
#
# system config
#
# this file is loaded after .config
#
###########################################

###########################################
#
# PLATFORM / ARCH are needed for system
#
###########################################

ifndef PLATFORM
PLATFORM = dummy
endif

ifndef ARCH
ARCH = dummy
endif

###########################################
#
# necessary variable
#
# common / platform dir become library
# for ${TOP}/builtin.o
#
# sample dir is INDEPENDENT from SUBDIR,
# because sample/test_platform needs ${TOP}/builtin.o
#
###########################################
SUBDIR		+= common platform
INDEPENDENT	+= sample
