###########################################
#
# system config
#
# this file is loaded after .config
#
###########################################

###########################################
#
# necessary variable
#
# common / platform dir become library
# for ${TOP}/builtin.o
#
# sample dir is INDEPENDENT from SUBDIR,
# because sample/test_platform needs ${TOP}/builtin.o
#
###########################################
SUBDIR		+= sample.common sample.platform
INDEPENDENT	+= sample
