####################################
#
# cross compiler selection
# if needed
#
####################################
# CROSS_COMPILE	= arm-linux-
# CROSS_COMPILE	= sh-linux-

###########################################
#
# necessary variable
#
# common / platform dir become library
# for ${TOP}/builtin.o
#
# sample dir is INDEPENDENT from SUBDIR,
# because sample/test_platform needs ${TOP}/builtin.o
#
###########################################
SUBDIR		+= sample.common sample.platform
INDEPENDENT	+= sample

####################################
#
# verbose make
#
####################################
# VERBOSE	= 1

####################################
#
# debug make
#
####################################
# DEBUG	= 1
