####################################
#
# cross compiler selection
# if needed
#
####################################
# CROSS_COMPILE	= arm-linux-
# CROSS_COMPILE	= sh-linux-

####################################
#
# verbose make
#
####################################
# VERBOSE	= 1

####################################
#
# debug make
#
####################################
# DEBUG	= 1
